*{
	margin: 0;
	padding: 0;
	background-color: black;
}
a{
	color: white;
	text-decoration: none;
}
.button{
	width: 200px;
	height: 50px;
	background: black;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-right: 2px solid white;
	border-top: 2px solid white;
	border-left: 2px solid white;
	border-bottom: 2px solid white;
	margin-top: 250px;
	padding: 20px;
	color: white;
}
.button:before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	border-top: 2px solid red;
	border-right: 2px solid red;
	animation: border-top-right 3s infinite alternate;
}
.button:after{
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-top: 2px solid red;
	border-right: 2px solid red;
	animation: border-bottom-left 3s infinite alternate;
}
@keyframes border-top-right{
	0% {width: 0; height:}
	50% {width: 240px; height: 0px;}
	100% {width: 240px; height: 87px;}
}
@keyframes border-top-left{
	0% {width: 0; height:}
	50% {width: 240px; height: 0px;}
	100% {width: 240px; height: 87px;}
}
@keyframes border-bottom-left{
	0% {width: 0; height:}
	50% {width: 240px; height: 0px;}
	100% {width: 240px; height: 90px;}
}